<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div id="wrapper">
        <h1 class="text-center">{{title}}</h1>
      <script>
        var x = 100;
        var y = 50;
        var nodes = [];
        var links = [];
        var images = {{images | safe}}
        
        for (var i = images.length; i > 0; i--) {
            nodes.push({x: x, y: y*(i), name: images[i-1]})
        }

        for (var i = images.length-1; i > 0; i--) {
            links.push({source: nodes[i], target: nodes[i-1]})
        }

      </script>
      <div id="graph" />
    </div>
  </body>
</html>
